@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
    height: 100%;
    overflow: hidden; 
}

body {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

#root {
    min-height: 100%;
}